<!DOCTYPE html>
<html lang="en">

    <%- include('../head.ejs')%>

<body>

    <%- include('../header2.ejs')%>

   
    <main class="todo-productos-main">

        
            <br>
            <section class="contenedor">



                <article class="contenedorproducto">
                    <h2 class="h2-nombre">
                        <%= prodEncontrado.name %>

                    </h2>

                    <article class="article-main">

                        <article class="imagen-nombre-main">
                            <div class="imagen-div">
                                <img src="/images/<%= prodEncontrado.image; %>" alt="Producto" id="img-main">
                                <div class="descuento"><span id="discount" data-action="cart-can"
                                        class="badge rounded-circle">
                                        <%= prodEncontrado.discount; %>%
                                    </span>
                                </div>
                            </div>

                            <div class="descriptions-main">

                                <%= prodEncontrado.description; %>

                            </div>

                            <div class="button-box">
                                <button class="button-main" id="buttonmain">
                                    <%= prodEncontrado.category; %>
                                </button>

                                <button class="button-main">
                                    $<%= Math.round(prodEncontrado.price - prodEncontrado.discount/100 *
                                    prodEncontrado.price); %>
                                </button>

                                <button class="button-main" id="buttonmain">
                                    Stock : <%= prodEncontrado.stock; %>
                                </button>
                                <div class="botonEdit">
                               
                                    <a  href="/admin/productos/<%= prodEncontrado.id; %>/edit"><i class="far fa-edit"></i></a>
                                </div>

                            </div>
                        </article>
                    </article>
                </article>
                <br>
            </section>
            <div class="detail-imagePC">
                <br><br>
                <section class="main-detail-section2">
            <article class="nav-image-detail">
                <img id="particular-detail-image" src="/images/<%= prodEncontrado.image; %>" alt="articulo">
                <img id="particular-detail-image" src="/images/<%= prodEncontrado.image; %>" alt="articulo">
                <img id="particular-detail-image" src="/images/<%= prodEncontrado.image; %>" alt="articulo">
                <img id="particular-detail-image" src="/images/<%= prodEncontrado.image; %>" alt="articulo">
            </article>
           
        </section>
           </div> <br>
    </main>

    <%- include('../footer.ejs') %>

</body>

</html>