<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT LIST</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<%- include('../header2.ejs') %>
<body>

    

    <div class="e-address">
        <button class="address">
            <i class="fas fa-map-marker-alt fa-lg"> </i>
            <p class="Send"> London HA9 0WS, Reino Unido</p>
        </button>
    </div>
    <main class="todo-productos-main">

        <% for (let i=0; i < productosJ.length ; i++) {%>
            <br>
            <section class="contenedor">



                <article class="contenedorproducto">
                    <h2 class="h2-nombre">
                        <%= productosJ[i].name %>

                    </h2>

                    <article class="article-main">

                        <article class="imagen-nombre-main">
                            <div class="imagen-div">
                                <img src="/images/<%= productosJ[i].image; %>" alt="Producto" id="img-main">
                                <div class="descuento"><span id="discount" data-action="cart-can"
                                        class="badge rounded-circle">
                                        <%= productosJ[i].discount; %>%
                                    </span>
                                </div>
                            </div>

                            <div class="descriptions-main">

                                <%= productosJ[i].description; %>

                            </div>

                            <div class="button-box">


                                
                                

                                <button class="button-main" id="buttonmain">
                                    <%= productosJ[i].category; %>
                                </button>

                                <button class="button-main">
                                    $<%= Math.round(productosJ[i].price - productosJ[i].discount/100 *
                                        productosJ[i].price); %>
                                </button>

                                <button class="button-main" id="buttonmain">
                                    Stock : <%= productosJ[i].stock; %>
                                </button>

                                <a class="botonEdit" href="/productos/<%= productosJ[i].id; %>"><i class="far fa-edit"></i> </a>
                            </div>
                          
                                
                            
                            
                        </article>
                    </article>
                </article>
                <br>
            </section>
            <% } %>
    </main>

    <%- include('../footer.ejs') %>

</body>

</html>