<!DOCTYPE html>
<html lang="en">

    <%- include('./head.ejs')%>

<body>

    <%- include('./header2.ejs') %>

<!-- 
        <div class="e-address">
            <button class="address">
                <i class="fas fa-map-marker-alt fa-lg"> </i>
                <p class="Send"> London HA9 0WS, Reino Unido</p>
            </button>
        </div> -->




        <main class="todo-productos-main">

            <section class="contenedortotalCarrito">
                <section class="contendedordeloscontendoresdelCarrito">
                    <% for (let i=0; i < productosJ.length ; i++) {%>
                    <section class="contenedor">
                        <article class="contenedorproducto">
                            <h2 class="h2-nombre"><%= productosJ[i].name; %>

                            </h2>

                            <article class="article-main">

                                <article class="imagen-nombre-main">
                                    <div class="imagen-div">
                                        <img src="images/<%= productosJ[i].image; %>" alt="Producto" id="img-main">
                                    </div>

                                    <div class="button-box">
                                        <div class="quantity" data-quantity="conteiner">
                                                <input class="cantidadMenos" data-quantity="pop" type="submit" value="-"
                                                    name="pop">

                                            <input class="cantidad" autocomplete="off" data-quantity="input" type="tel"
                                                value="1" name="quantity">

                                                <input class="cantidadMas" data-quantity="push" type="submit" value="+"
                                                    name="push">

                                            <div class="cart-inline-loading__quantity-selector"
                                                data-region="quantity-loading"></div>

                                        </div>

                                        <p class="PrecioenCarrito"> $<%= productosJ[i].price; %></p>


                                        <form action="/carrito/delete/<%= productosJ[i].id %>/?_method=DELETE" method="post">
                                            <button class="button-main">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </article>
                            </article>
                        </article>
                    </section>
                    <br>
                    <% } %>

                </section>
                <br>

                <article class="precio-envio"> <div class="resumen">
                            <h2>Resume</h2>

                        </div>
                    <% for (let i=0; i < productosJ.length ; i++) {%>
                       
                    <article class="productoCheckout">
                        <div class="nombreProductoAgregado"> <%= productosJ[i].name; %></div>
                        <div class="precioProductoAgregado"> $<%= productosJ[i].price; %></div>
                    </article>
                    <% } %>
                    
                    <div class="preciofinal">
                        <h3>Total price</h3>


                        <h3>$<%= userCart.total_price; %></h3>



                    </div>
                    <a href="/carrito/checkout" class="hrefcheckout">
                    <div class="comprar">
                        <button class="botoncompra">
                           Check-Out
                        </button>
                    </div>
                    </a>
                </article>

            </section>

            <article class="articlecarruselC">
                <h1 class="productosIndex">Featured items you may like<button class="button-HOffice"> <i
                    class="fas fa-arrow-circle-right"></i></button></h1>
              
                <div class="carrouselC">
                    <ul class="photosC">
                       
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Monitor
                                </h1>
                                <br>
                                <img src="/images/monitor1.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$1459
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Camara
                                </h1>
                                <br>
                                <img src="/images/camara.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2246
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Parlante Xinua
                                </h1>
                                <br>
                                <img src="/images/Parlante.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2101
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Luces LED
                                </h1>
                                <br>
                                <img src="/images/luces.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4855
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Mouse Pad
                                </h1>
                                <br>
                                <img src="/images/mouse pad.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2144
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Silla Gammer
                                </h1>
                                <br>
                                <img src="/images/silla.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$3579
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Teclado
                                </h1>
                                <br>
                                <img src="/images/teclado.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4312
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Reddragon Zeus
                                </h1>
                                <br>
                                <img src="/images/Reddragon Zeus-X.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$2815
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            <li class="carrouselList">
                                <h1 class="namecarrousel">
                                    Microfono Hyperx
                                </h1>
                                <br>
                                <img src="/images/microfono.png" alt="">
                                <div class="rating2"><span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <br>
                                <div class="price2">$4684
                                </div>
                                <br>
                                <button type="submit" class="submit-cart">Add to
                                    cart</button>
                            </li>
                            
                            
                    </ul>
                </div>
            </article>
          

            <!-- <section class="section-footer">
                <section>

                    <i class="fas fa-credit-card fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                    <h3 class="h3-footer">Pay with card or cash</h3><br>
                    <p class="p-footer"> With Goffice Cash, you have installments without interest with card or cash in
                        payment points. And it's always safe!</p>
                </section>
                <br>
                <section>
                    <i class="fas fa-gift fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                    <h3 class="h3-footer">Free shipping over $2,500</h3><br>
                    <p class="p-footer">

                        Just for being registered in Mercado Liebre you have free shipments in thousands of
                        products. It is a Mercado Puntos benefit.</p>

                </section>
                <br>
                <section>
                    <i class="fas fa-user-shield fa-2x" style="color: orangered;" id="icono-footer"></i><br>
                    <h3 class="h3-footer">Security, from start to finish</h3><br>
                    <p class="p-footer">You do not like? Give it back! In Mercado Liebre, there is nothing you cannot
                        do,
                        because you are always protected.</p>
                </section> -->
        </main>
        <div class="social-bar">
       
            <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
            <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
            <a href="" class="iconA"><i class="fas fa-at"></i></a>
            <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
        </div>
  <%- include('./footer.ejs') %>
</body>

      
</html>