<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>

    <body>
        <%- include('./header2.ejs') %>
            <main class="todo-productos-main-checkout">

                <section class="contenedortotalCarrito">
                    <section class="contendedordeloscontendoresdelCarrito">

                        <section class="contenedor2">
                            <article class="box-checkout">
                                <article class="contenedorproducto-checkout">
                                    <h2 class="h2-nombre">

                                        Forma de pago

                                    </h2>
                                    <select name="pagosMetodo" id="metodopago">

                                        <% pagos.forEach(pago=> { %>
                                            <option value="<%= pago.method %>" <% if (pago.id==2) { %>
                                                <%= 'selected' %>
                                                    <% }; %>>
                                                        <%= pago.method %>
                                            </option>
                                            <% }); %>
                                    </select>


                                    <form action="/carrito/checkout" method="post" class="formcheckout mercadopago">





                                        <div class="field name_field">
                                            <label class="register_label" name="name">Name</label>
                                            <input type="text" name="name" class="nameInputCheckout" 
                                                minlength="5" maxlength="18">
                                        </div>
                                        <div class="error_fieldCheckoutCreditName"></div>



                                        <div class="field email_field">
                                            <label class="register_label" name="email">Email</label>
                                            <input type="email" name="email" id="email" class="EmailInputCheckout">
                                        </div>
                                        <div class="error_fieldCheckoutCreditEmail"></div>



                                        <div class="field name_field">
                                            <label class="register_label" name="name">Phonenumber</label>
                                            <input type="number" name="phonenumber" id="name"
                                                class="phonenumberInputCheckout" >
                                        </div>
                                        <div class="error_fieldCheckoutCreditPhonenumber"></div>


                                        <div class="field name_field">
                                            <label class="register_label" name="provincia">Provincia</label>
                                            <br><br>
                                            <select name="" id="" class="selectCheckout">

                                                <option value="Buenos Aires">Buenos Aires</option>
                                                <option value="Ciudad Autónoma de Buenos Aires">Ciudad Autónoma de
                                                    Buenos Aires</option>
                                                <option value="Catamarca">Catamarca</option>
                                                <option value="Chaco">Chaco</option>
                                                <option value="Chubut">Chubut</option>
                                                <option value="Córdoba">Córdoba</option>
                                                <option value="Corrientes">Corrientes</option>
                                                <option value="Entre Ríos">Entre Ríos</option>
                                                <option value="Formosa">Formosa</option>
                                                <option value="Jujuy">Jujuy</option>
                                                <option value="La Pampa">La Pampa</option>
                                                <option value="La Rioja">La Rioja</option>
                                                <option value="Mendoza">Mendoza</option>
                                                <option value="Misiones">Misiones</option>
                                                <option value="Neuquén">Neuquén</option>
                                                <option value="Río Negro">Río Negro</option>
                                                <option value="Salta">Salta</option>
                                                <option value="San Juan">San Juan</option>
                                                <option value="San Luis">San Luis</option>
                                                <option value="Santa Cruz">Santa Cruz</option>
                                                <option value="Santa Fe">Santa Fe</option>
                                                <option value="Santiago del Estero">Santiago del Estero</option>
                                                <option value="Tierra del Fuego">Tierra del Fuego</option>
                                                <option value="Tucumán">Tucumán</option>

                                            </select>
                                        </div>
                                        <div class="error_fieldCheckoutCreditCodigoProvincia"></div>


                                        <div class="field name_field">
                                            <label class="register_label" name="ciudad">City</label>
                                            <br><br>
                                            <select name="" id="" class="selectCheckout">
                                                <option value="Yerba Buena">Yerba Buena</option>
                                                <option value="San Miguel de Tucuman">San Miguel de Tucuman</option>

                                            </select>
                                        </div>
                                        <div class="error_fieldCheckoutCreditCiudad"></div>


                                        <div class="field name_field">
                                            <label class="register_label" name="codigoP">Postal Code</label>
                                            <input type="number" name="phonenumber" class="codigoPostalInputCheckout"
                                                >
                                        </div>
                                        <div class="error_fieldCheckoutCreditCodigoPostal"></div>


                                        <div class="field name_field">
                                            <label class="register_label" name="piso-departamento">Adress
                                            </label>
                                            <input type="text" name="direccion" class="adressInputCheckout" >
                                        </div>
                                        <div class="error_fieldCheckoutCreditAdress"></div>
<br>
                                        <div class="comprar">
                                            <button class="botoncompra" id="mercadoPagoButton">
                                               Mercado Pago
                                            </button>
                                        </div>
                                        <div class="error_fieldCheckoutCreditMercadopago"></div>
                                    </form>


                                    <form action="" class="formcheckout cash">
                                        <section class="xxx">

                                            <div class="zzz">
                                                <label class="register_label" name="name"> </label>
                                                <div class="hhh"> Cabaliiito eiufheih</div>
                                            </div>
                                            <div class="error_field">Ingrese su local</div>

                                            <div class="zzz">
                                                <label class="register_label" name="ciudad">Ciudad</label>
                                                <div class="hhh"> Cabaliiito eiufheih</div>
                                            </div>

                                            <div class="zzz">
                                                <label class="register_label" name="ciudad">Ciudad</label>
                                                <div class="hhh"> Cabaliiito eiufheih</div>
                                            </div>
                                            <div class="zzz">
                                                <label class="register_label" name="ciudad">Ciudad</label>
                                                <div class="hhh"> Cabaliiito eiufheih</div>
                                            </div>
                                            <div class="zzz">
                                                <label class="register_label" name="ciudad">Ciudad</label>
                                                <div class="hhh"> Cabaliiito eiufheih</div>
                                            </div>

                                        </section>



                                    </form>

                                    <form action="" class="formcheckout tarjeta">



                                        <div class="field name_field">
                                            <label class="firstname" name="firstname">nombre</label>
                                            <input type="text" name="name" id="name" required>
                                        </div>

                                        <div class="field name_field">
                                            <label class="firstname" name="firstname">Dirección</label>
                                            <input type="text" name="name" id="name" required>
                                        </div>

                                        <div class="field name_field">
                                            <label class="firstname" name="firstname">Codigo Postal</label>
                                            <input type="text" name="name" id="name" required>
                                        </div>

                                        <div class="field name_field">
                                            <label class="firstname" name="firstname">Pais</label>
                                            <input type="text" name="name" id="name" required>
                                        </div>
                                    </form>

                                    <form action="" class="formcheckout trans">


                                        <section class="sectionTrans">


                                            <div class="divTrans">
                                                <label class="checkoutTransferenciaLabels" name="name">NOMBRE</label>
                                                <div class="subDivTrans"> Goffice Inc</div>
                                            </div>

                                            <div class="divTrans">
                                                <label class="checkoutTransferenciaLabels" name="cvu">CVU</label>
                                                <div class="subDivTrans">0000003100036460396498</div>
                                            </div>
                                            <div class="divTrans">
                                                <label class="checkoutTransferenciaLabels" name="alias">ALIAS</label>
                                                <div class="subDivTrans">elde.clips.bagre.mp</div>
                                            </div>

                                        </section>
                                    </form>
                                </article>
                            </article>
                        </section>
                        <br>


                    </section>
                    <br>

                    <article class="precio-envio-checkout">
                        <div class="resumen">
                            <h2>Resume</h2>

                        </div>
                        <% for (let i=0; i < productosJ.length ; i++) {%>

                            <article class="productoCheckout">
                                <div class="multiplicand">1x</div>
                                <div class="nombreProductoAgregado">
                                    <%= productosJ[i].name; %>
                                </div>
                                <div class="nombreProductoAgregado"> $<%= productosJ[i].price; %>
                                </div>
                            </article>
                            <% } %>

                                <div class="preciofinal">
                                    <h3>Total price</h3>


                                    <h3>$<%= userCart.total_price; %>
                                    </h3>



                                </div>
                                

                    </article>

                </section>
            </main>
            <div class="social-bar">

                <a href="" class="iconF"><i class="fab fa-facebook"></i></a>
                <a href="" class="iconI"><i class="fab fa-instagram"></i></a>
                <a href="" class="iconA"><i class="fas fa-at"></i></a>
                <a href="" class="iconT"><i class="fab fa-twitter"></i></a>
            </div>
            <%- include('./footer.ejs') %>
    </body>