<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs')%>
    <%- include('./header2.ejs') %>

        <body>

            <main class="mainD">



                <div class="carrusel">
                    <ul class="carrusel-fotos">
                        <li id="foto1"><img src="/images/<%= product.image  %>" alt=""></li>
                        <li id="foto2"><img src="/images/<%= product.image  %>" alt=""></li>
                        <li id="foto3"><img src="/images/<%= product.image  %>" alt=""></li>
                        <li id="foto4"><img src="/images/<%= product.image  %>" alt=""></li>

                    </ul>


                    <ul class="carrusel-menu">
                        <li><a href="#foto1"><img src="/images/<%= product.image  %>" alt=""></a></li>
                        <li><a href="#foto2"><img src="/images/<%= product.image  %>" alt=""></a></li>
                        <li><a href="#foto3"><img src="/images/<%= product.image  %>" alt=""></a></li>
                        <li><a href="#foto4"><img src="/images/<%= product.image  %>" alt=""></a></li>

                    </ul>

                  
                        <div class="detalles-content">
                            <h3>
                                <%= product.name %>
                            </h3>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                            <p class="price"><b>Price: </b> $<%= product.price %>
                            </p>
                            <p class="description">
                                <b>Description: </b> <span>
                                    <%= product.description %>
                                </span>
                            </p>

                            <div class="bottom">
                                <form action="/carrito/agregar/<%= product.id %>" method="post">
                                    <div class="btn__group">
                                        <button type="submit" class="btn addToCart">Add to Cart</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                   
            </main>
            <div class="social-bar">

                <a href="https://es-la.facebook.com/" class="iconF"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" class="iconI"><i class="fab fa-instagram"></i></a>
                <a href="mailto:goffice@gmail.com" class="iconA"><i class="fas fa-at"></i></a>
                <a href="https://twitter.com/" class="iconT"><i class="fab fa-twitter"></i></a>
                <a href="https://wa.me/543815302514?text=Hola!%20Me%20interesa%20conocer%20más%20sobre%20los%20servicios%20que%20ofrecen." class="iconW"target="_blank"><i class="fab fa-whatsapp"></i></a>
                
            </div>

        </body>
        <%- include('./footer.ejs') %>

</html>