<!DOCTYPE html>
<html lang="en">



<%- include('./head.ejs')%>
<%- include('./header2.ejs') %>

<body>
    <section>

        <video class="videoPublicidad" muted autoplay loop>

            <source src="video/pexels-daniel-cavarra-6290931.mp4" type="video/mp4">

        </video>
    </section>
    <br>
    <h1>Productos <button class="button-HOffice"> <i class="fas fa-arrow-circle-right"></i></button></h1>
    <br>

    <section class="productos">
        <div class="productos__center"><% for (let i=0; i < productosJ.length ; i++) {%>
            <div class="producto">
                <div class="image__container">
                    <img src="images/<%= productosJ[i].image; %>" alt="">
                </div>
                <div class="producto__footer">
                    <h1><%= productosJ[i].name %></h1>
                    <div class="rating">
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                        <span>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                    <div class="price">$<%= productosJ[i].price %></div>
                </div>
                <div class="bottom">
                    <div class="btn__group">
                        <a href="#" class="btn addToCart">Añadir carrito</a>
                        <a href="#" class="btn view">Vista</a>
                    </div>
                </div>
            </div>

            <% } %>
        </div>
    </section>

<br>
   
    <div id="button-up">
        <i class="fas fa-angle-double-up fa-lg"></i>
    </div>




<section class="section1H" >
    <img src="images/banner goffice pequeño.jpeg" class="imagen1" >
</section>
<br>
    <br>
    <br>

<section class="productos">
    <div class="productos__center"><% for (let i=0; i < productosJ.length ; i++) {%>
        <div class="producto">
            <div class="image__container">
                <img src="images/<%= productosJ[i].image; %>" alt="">
            </div>
            <div class="producto__footer">
                <h1><%= productosJ[i].name %></h1>
                <div class="rating">
                    <span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span>
                        <i class="fa fa-star"></i>
                    </span>
                    <span>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div class="price">$<%= productosJ[i].price %></div>
            </div>
            <div class="bottom">
                <div class="btn__group">
                    <a href="#" class="btn addToCart">Añadir carrito</a>
                    <a href="#" class="btn view">Vista</a>
                </div>
            </div>
        </div>

        <% } %>
    </div>
</section>




    
    <%- include('./footer.ejs') %>

    <script src="js/botones.js"></script>
</body>

</html>