<!DOCTYPE html>
<html lang="en" class="html_L">

<%- include('./head.ejs')%>

    <body class="body_L">
        <%- include('./header2.ejs') %>
            <main class="body_R">
                <form class="login_form login_validation" action="/users/login" method="POST">
                    <div class="errors-front">
                        <ul>

                        </ul>
                    </div>
                    <i class="fas fa-sign-in-alt fa-2x" id="loginIcono"></i>

                    <div class="field email_field">
                        <label class="login_label" for="email">Email</label>
                        <input id="LoginEmailValidation" type="text" name="email"   value="<%= locals.old && old.email %>">
                        <% if (locals.errors && errors.email) { %>
                            <p class="feedback">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="error_fieldLoginEmail"></div>


                    <div class="field password_field">
                        <label class="login_label" for="password">Password</label>
                        <input class="LoginPasswordValidation" type="password" name="password" id="password" value="<%= locals.old && old.password %>">
                        <% if (locals.errors && errors.password) { %>
                            <p class="feedback">
                                <%= errors.password.msg %>
                            </p>
                            <% } %>
                                <ion-icon onclick="toggle()" class="password-icon" id="eye-icon" name="eye-off"
                                    size="large"></ion-icon>
                    </div>
                    <div class="error_fieldLoginPassword"></div>


                    <div class="field password_field">
                        <label class="login_label" for="password">Recordar usuario</label>

                    </div>
                    <div class="checkbox-example">
                        <input type="checkbox" value="on" id="checkboxOneInput" name="remember_user" />
                        <label for="checkboxOneInput"></label>
                    </div>
                    <div class="error_field">Ingrese su contraseña</div>

                    <button type="submit" class="sendLoginForm">Login</button>
                    </div>
                    <div class="errorSubmitLogin">

                    </div>
                    <br>

                    <% if (email.msg !='' && !errors.password && !errors.email) { %>
                        <p class="feedbackTotal">
                            <%= email.msg %>
                        </p>
                        <% } %>

                            <br>

                            <div class="nav_button_L">
                                <a class="nav_button_text_L" href="">¿Olvidaste tu contraseña? </a>
                            </div>

                            <div class="nav_button_L">
                                <a class="nav_button_text_L" href="/registro">¿Aún no tienes una cuenta?
                                    ¡Registrate!</a>
                            </div>

                </form>


            </main>




    </body>
    <%- include('./footer.ejs') %>


        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script type="text/javascript">
            function toggle() {
                document.querySelector("#eye-icon").name === "eye" ? document.querySelector("#eye-icon").name = "eye-off" : document.querySelector("#eye-icon").name = "eye"
                document.querySelector("#password").type === "password" ? document.querySelector("#password").type = "text" : document.querySelector("#password").type = "password"
            }

        </script>

</html>