<!DOCTYPE html>
<html lang="en" class="html_L">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<%- include('./header.ejs') %>
<body class="body_L">
    
<main>
    <form class="login_form" action="/login" method="POST">

        <i class="fas fa-sign-in-alt fa-2x"></i>

        <div class="field email_field">
            <label class="login_label" for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= locals.old && old.email %>">
            <% if (locals.errors && errors.email) { %>
                <p class="feedback"><%= errors.email.msg %></p>
            <% } %>
        </div>
        <div class="error_field">Ingrese su correo electronico</div>


        <div class="field password_field">
            <label class="login_label" for="password">Password</label>
            <input type="password" name="password" id="password" value="<%= locals.old && old.password %>">
            <% if (locals.errors && errors.password) { %>
                <p class="feedback"><%= errors.password.msg %></p>
            <% } %>
            <ion-icon onclick="toggle()" class="password-icon"	id ="eye-icon" name="eye-off" size="large" ></ion-icon>
        </div>
        <div class="field password_field">
            <label class="login_label" for="password">Recordar usuario</label>
            
        </div>
        <div class="checkbox-example">
            <input type="checkbox" value="1" id="checkboxOneInput"/>
            <label for="checkboxOneInput"></label>
          </div>
        <div class="error_field">Ingrese su contraseña</div>

        <button type="submit">Login</button>
        </div>
        <br>

        <div class="nav_button_L">
            <a class="nav_button_text_L" href="">¿Olvidaste tu contraseña? </a>
        </div>

        <div class="nav_button_L">
            <a class="nav_button_text_L" href="/registro">¿Aún no tienes una cuenta? ¡Registrate!</a>
        </div>

    </form>


</main>
   

 

</body>
   <%- include('./footer.ejs') %>
   
        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   <script type="text/javascript">
    function toggle() {
        document.querySelector("#eye-icon").name === "eye" ? document.querySelector("#eye-icon").name = "eye-off" : document.querySelector("#eye-icon").name = "eye"
        document.querySelector("#password").type === "password" ? document.querySelector("#password").type = "text" : document.querySelector("#password").type = "password"
    }

</script>
</html>