<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="header-carrito">
        <nav class="box">
            <div class="burger-menuc">
                <button id="menuc">


                    <i class="fas fa-bars fa-2x"></i>
                </button>
            </div>
            <img src="images/Gofficee.png" alt="logo" width="100px" height="42px" id="img-logo">
            <div class="carritoc">
                <button id="carritoc">
                    <i class="fas fa-cart-plus fa-2x"></i><span id="cart_menu_num" data-action="cart-can"
                        class="badge rounded-circle">9</span>
                </button>
            </div>



        </nav>

        <br>

        <div class="buscar">
            <input type="text" placeholder="  Search Goffice" required>
            <button id="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <br>


    </header>

    <div class="e-address">
        <button class="address">
            <i class="fas fa-map-marker-alt fa-lg"> </i>
            <p class="Send"> London HA9 0WS, Reino Unido</p>
        </button>
    </div>




    <main class="todo-productos-main">

        <% for (let i=0; i < productosJ.length ; i++) {%>
            <br>
            <section class="contenedor">



                <article class="contenedorproducto">
                    <h2 class="h2-nombre">
                        <%= productosJ[i].name %>

                    </h2>

                    <article class="article-main">

                        <article class="imagen-nombre-main">
                            <div class="imagen-div">
                                <img src="images/<%= productosJ[i].image; %>" alt="Producto" id="img-main">
<div class="descuento"><span id="discount" data-action="cart-can"
                                    class="badge rounded-circle">
                                    <%= productosJ[i].discount; %>%
                                </span>
                            </div>
                            </div>
                            
                            <div class="descriptions-main">
                                
                                    <%= productosJ[i].description; %>
                            
                            </div>

                            <div class="button-box">
                                <button class="button-main" id="buttonmain">
                                    Stock : <%= productosJ[i].stock; %>
                                </button>

                                <button class="button-main">
                                    $<%= Math.round(productosJ[i].price - productosJ[i].discount/100 *
                                        productosJ[i].price); %>
                                </button>

                                <button class="button-main" id="buttonmain">
                                    <%= productosJ[i].category; %>
                                </button>


                            </div>
                        </article>
                    </article>
                </article>
                <br>
            </section>
            <% } %>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>