<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PRODUCT</title>
    <link rel="icon" type="image/PNG" href="../public/images/Gofficee.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<!-- body -->

<body>

    <!-- header -->
    <%- include('./header2.ejs')%>
        <!--</header> -->

        <!-- main -->
        <main class="main-detail">
            <section class="main-detail-sectionPC">
                <div class="title-product-detailPC">
                    <h2><%= user.first_name; %> <%= user.last_name; %></h2>
                    
                </div>
                <div class="detail-imagePC">
                    <img id="general-detail-imagePC" src="/images/users/<%= user.image  %>" alt="articulo">
                </div>

            </section>
            <br>
            </section>
            <section class="contenedor-detail">
                <div class="title-product-detailPC">
                    <h2>USER DETAILS</h2>
                </div>
                <article class="description-productPC">
                    <form action="/users/profile/update/<%= user.id; %>/?_method=PUT" id="productForm" method="POST"
                        enctype="multipart/form-data">
                
                        <div class="boxpC">
                            <label name="name">
                                <H2>First Name</H2>
                            </label>
                
                            <input type="text" name="name" id="nombrePCrud" required minlength="6" value="<%= user.first_name; %>">
                            <i class="far fa-edit"></i>
                        </div>

                        <div class="boxpC">
                            <label name="lastname">
                                <H2>Last Name</H2>
                            </label>
                
                            <input type="text" name="lastname" id="nombrePCrud" required minlength="6" value="<%= user.last_name; %>">
                            <i class="far fa-edit"></i>
                        </div>
                        
                        <div class="boxpC">
                            <label name="phone_number">
                                <h2>Phone Number</h2>
                            </label>
                
                            <input type="text" name="phonenumber" id="nombrePCrud" required value="<%= user.phone_number; %>">
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label name="gender">
                                <H2>Gender</H2>
                            </label>
                
                            <select name="gender" id="nombrePCrud2" >
                                <option value="x" selected>x</option>
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                            <i class="far fa-edit"></i>
                        </div>
                        <div class="boxpC">
                            <label name="image">
                                <h2>Image</h2>
                            </label>
                            <input type="file" class="buy-now-button" name="image" required value="/images/<%= user.image; %>">
                            
                            <i class="far fa-edit"></i>
                        </div>
                        
                        <article class="precio-envio-detail">
                            <div class="comprar-detailPC">
                                <button type="submit" class="submit-cart-detail">Guardar Cambios</button>
                            </div>
                
                        </article>
                    </form>
                
                </article>
                <br>
                <article class="precio-envio-detail">
                
                    <form action="/productos/<%= user.id; %>/?_method=DELETE" method="POST"> 
                        <div class="return-detail">
                            <button type="submit" class="return-cart-detail">Eliminar</button>
                        </div>
                    </form>
                
                </article>

                


        </main>
        <!-- footer -->
        <%- include('./footer')%>
            <!-- </footer> -->
</body>

</html>


























