<!DOCTYPE html>
<html lang="en"> 
    <%- include('./head.ejs')%>
<body>
   
    <%- include('./header2.ejs')%>
        <main class="todo-productos-main2">
            <section class="contenedor2">
                <article class="contenedorproducto2">
                    <h2 class="h2-nombre2"><%= user.first_name  %> <%= user.last_name  %> </h2>
                    <article class="article-main2">
                        <article class="imagen-nombre-main2">
                            <div class="imagen-div2">
                                <img src="/images/users/<%= user.image  %>" alt="Producto" id="img-main2">
                            </div>
                        </article>
                    </article>
                    <div class="button-box2">
                        <div class="datoUser"><%= user.email  %></div>
                        <div class="datoUser"><%= user.phone_number  %></div>
                        <div class="datoUser"><%= user.gender  %></div>
                        <a class="botonEditUser" href="/users/profile/Edit"><i class="far fa-edit"></i> </a>
                    </div>
                </article>
            </section>
          
        </main>
        <!-- footer -->
        <%- include('./footer')%>
            <!-- </footer> -->
</body>
</html>