<!DOCTYPE html>
<html lang="en" class="html_R">

    <%- include('./head.ejs')%>

<body >
     <%- include('./header2.ejs') %>
    <main class="body_R">
    <div class="Container_R">

       

            <form class="register_form" action="/users"  method="POST" enctype="multipart/form-data" >

                <i class="fas fa-user-edit fa-2x"></i>

                <div class="field name_field">
                    <label class="register_label" name="firstname">First Name</label>
                    <input type="text" name="firstname" id="name"  maxlength="18" value="<%= locals.old && old.firstname%>">
                    <% if (locals.errors && errors.firstname) { %>
                        <p class="feedback">
                            <%= firstNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                <div class="error_field">Ingrese su nombre</div>

                <div class="field lastName_field">
                    <label class="register_label" name="lastname">Last Name</label>
                    <input type="text" name="lastname" id="lastname" maxlength="18" value="<%= locals.old && old.lastname%>">
                    <% if (locals.errors && errors.lastname) { %>
                        <p class="feedback">
                            <%= lastNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                <div class="error_field">Ingrese su apellido</div>

                <div class="field email_field">
                    <label class="register_label" name="email">Email</label>
                    <input type="text" name="email" id="email" value="<%= locals.old && old.email%>">
                    <% if (locals.errors && errors.email) { %>
                        <p class="feedback">
                            <%= emailNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                <div class="error_field">Ingrese su correo electrónico</div>

                <div class="field password_field">
                    <label class="register_label" name="password">Password</label>
                    <input type="password" name="password" id="password" value="<%= locals.old && old.password%>">
                    <ion-icon onclick="toggle()" class="password-icon"	id ="eye-icon" name="eye-off" size="large" ></ion-icon>
                    <% if (locals.errors && errors.password) { %>
                        <p class="feedback">
                            <%= passwordNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                <div class="error_field">Ingrese su apellido</div>
                <div class="field name_field">
                    <label class="register_label" name="name">Phonenumber</label>
                    <input type="number" name="phonenumber" id="phonenumber" maxlength="18" value="<%= locals.old && old.phonenumber%>">
                    <% if (locals.errors && errors.phonenumber) { %>
                        <p class="feedback">
                            <%= phoneNumberNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                <div class="error_field">Ingrese su apellido</div>
                <div class="field name_field">
                    
                    <label class="register_label" name="image">Image</label>
                   
                    <input type="file" name="image" id="file" value="<%= locals.old && old.image%>">
                    <% if (locals.errors && errors.image) { %>
                        <p class="feedback">
                            <%= imageNameErrors[0].msg %>
                        </p>
                        <% } %>
                    
                </div>
                <div class="error_field">Ingrese su apellido</div>
                <div class="field name_field">
                    <label class="register_label" name="name">Gender</label>
                    <input type="text" name="gender" id="gender" value="<%= locals.old && old.gender%>">
                    <% if (locals.errors && errors.gender) { %>
                        <p class="feedback">
                            <%= genderNameErrors[0].msg %>
                        </p>
                        <% } %>
                </div>
                
                <div class="error_field">Ingrese su contraseña</div>

                <button type="submit">Enviar</button>

                <div class="nav_button_R">
                    <a class="nav_button_text_R" href="/users/login">¿Ya tienes una cuenta? <br>
                        <div class="nav_button_l">Logeate</div>
                    </a>
                </div>
            </form>

    </div>
</main>
    <%- include('./footer.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript">
function toggle() {
    document.querySelector("#eye-icon").name === "eye" ? document.querySelector("#eye-icon").name = "eye-off" : document.querySelector("#eye-icon").name = "eye"
    document.querySelector("#password").type === "password" ? document.querySelector("#password").type = "text" : document.querySelector("#password").type = "password"
}

</script>
</body>

</html>