<!DOCTYPE html>
<html lang="en">
<%- include('./head.ejs')%>
<body>

    
    <%- include('./header2.ejs')%>
        <main class="todo-productos-main2">
           
            <section class="contenedor2">
                <% for (let i=0; i < usersJ.length ; i++) {%>
                <article class="contenedorproducto2">
                    <h2 class="h2-nombre2"><%= usersJ[i].first_name %> <%= usersJ[i].last_name %>
                    </h2>

                    <article class="article-main2">

                        <article class="imagen-nombre-main2">
                            <div class="imagen-div2">
                                <img src="/images/users/<%= usersJ[i].image; %>" alt="Producto" id="img-main2">
                            </div>


                        </article>
                    </article>
                    <div class="button-box2">
                        <div class="passwordUser"><%= usersJ[i].password; %></div>
                        <div class="datoUser"><%= usersJ[i].email; %></div>
                        <div class="datoUser"><%= usersJ[i].gender; %></div>
                        <div class="datoUser"><%= usersJ[i].phone_number; %></div>
                    </div>
                </article> 
                 <% } %>
            </section>
          




            <!-- <% for (let i=0; i < usersJ.length ; i++) {%>
                    <br>
                    <section class="contenedor">
        
        
        
                        <article class="contenedorproducto">
                            <h2 class="h2-nombre">
                                <%= usersJ[i].firstname %> <%= usersJ[i].lastname %>
        
                            </h2>
        
                            <article class="article-main">
        
                                <article class="imagen-nombre-main">
                                     <div class="imagen-div">
                                        <img src="images/users/<%= usersJ[i].image; %>" alt="Producto" id="img-main">
                                      
                                    </div> 
         
                                    <div class="descriptions-main">
        
                                        <%= usersJ[i].email; %>
        
                                    </div>
        
                                    <div class="button-box">
        
        
                                        
                                        
        
                                        <button class="button-main" id="buttonmain">
                                            <%= usersJ[i].phonenumber; %>
                                        </button>
        
                                        <button class="button-main">
                                            <%= usersJ[i].gender; %>
                                        </button>
        
                                        <button class="button-main" id="buttonmain">
                                            Password : <%= usersJ[i].password; %>
                                        </button>
        
                                        
                                    </div>
                                  
                                        
                                    
                                    
                                </article>
                            </article>
                        </article>
                        <br>
                    </section> 
                    <% } %>-->
        </main>


        <!-- footer -->
        <%- include('./footer')%>
            <!-- </footer> -->
</body>
</html>